<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NR6Pack" version="0.5.0.0" targetFramework="portable-net45+sl50+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="StyleCop.MSBuild" version="4.7.49.0" targetFramework="portable-net45+sl50+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
</packages>